body {
background: linear-gradient(-45deg, #020202, #0031f9, #11fff6);
	background-size: 800% 800%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
	cursor: crosshair;

}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.version.lorena_b{color:#000000;background-color:#C57929;}#page{z-index:1;min-height:438px;background-image:none;border-width:0px;border-color:#000000;background-color:transparent;padding-bottom:62px;width:100%;max-width:700px;margin-left:auto;margin-right:auto;}#u78365{z-index:21;height:62px;position:relative;width:18%;margin-left:41%;left:-10px;}.ie #u78365{background-color:#FFFFFF;opacity:0.01;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";filter:alpha(opacity=1);margin-left:41%;left:-10px;}#u82946-19{z-index:2;min-height:343px;background-color:transparent;color:#000000;font-size:16px;line-height:19px;font-family:rialto-piccolo-df, serif;font-weight:400;position:relative;width:61.58%;margin-left:19.29%;}.css_verticalspacer .verticalspacer{height:calc(100vh - 1302px);}#muse_css_mq,.html{background-color:#FFFFFF;}body{position:relative;min-width:320px;}
