body {
background: linear-gradient(-45deg, #fd345f, #ffffff, #f7b1a5, #ffa000);
 background-size: 800% 800%;
 -webkit-animation: Gradient 5s ease infinite;
 -moz-animation: Gradient 5s ease infinite;
 animation: Gradient 5s ease infinite;
 cursor: crosshair;

}

@-webkit-keyframes Gradient {
 0% {
   background-position: 0% 50%
 }
 50% {
   background-position: 100% 50%
 }
 100% {
   background-position: 0% 50%
 }
}

@-moz-keyframes Gradient {
 0% {
   background-position: 0% 50%
 }
 50% {
   background-position: 100% 50%
 }
 100% {
   background-position: 0% 50%
 }
}

@keyframes Gradient {
 0% {
   background-position: 0% 50%
 }
 50% {
   background-position: 100% 50%
 }
 100% {
   background-position: 0% 50%
 }
}
.version.michelle{color:#0000ED;background-color:#D4E970;}#page{z-index:1;min-height:418px;background-image:none;border-width:0px;border-color:#000000;background-color:transparent;padding-top:20px;width:100%;max-width:700px;margin-left:auto;margin-right:auto;}#u96517-20{z-index:3;background-color:transparent;line-height:25px;text-align:center;font-size:16px;font-family:rialto-piccolo-df, serif;font-weight:400;position:relative;width:61.58%;margin-left:19.29%;}#u96613{z-index:2;height:55px;position:relative;width:11.72%;margin-left:44.15%;}.ie #u96613{background-color:#FFFFFF;opacity:0.01;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";filter:alpha(opacity=1);}.css_verticalspacer .verticalspacer{height:calc(100vh - 749px);}#muse_css_mq,.html{background-color:#FFFFFF;}body{position:relative;min-width:320px;}
